.topbar{

    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;

}

.logo {
    display: inline;
    font-size: 2.25em;
    background-color: red;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    


}

.company {
    display: inline;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: grey;
    margin: 1.5em 1.5em 1.5em 0em;
    width: 2.5rem;
}

.line {
    background: black;
    width: 10px;
}